/* Color Palette: http://paletton.com/palette.php?uid=7390u0knEub00UJ89Kuv3kV%2Be5e */

$black: #262523;
$mid-gray: #E8E0D8;
$dark-gray: #85807A;
$white: #f9f3ec;

$dark-blue: #33639D;
$light-blue: #A1B7D2;

$yellow: #f7f1dc;
$solid-yellow: #F07F3F;
$mid-yellow: #FFD6BE;

$orange: #fadac3;
$solid-orange: #E6AD16;
$mid-orange: #FFE6BE;

$green: #c1dbd4;
$solid-green: #299E7E;
$mid-green: #9CD2C3;
