#navbar-menu-btn {
	display: block;
	text-align: left;
	position: fixed;
	cursor: pointer;
	top: 15px;
	left: 15px;
	z-index: 1000;

    img {
    	height: 20px;
    	padding: 5px;
    	filter: opacity(0.8);
    	-webkit-filter: opacity(0.8);
    	-moz-filter: opacity(0.8);
    	-ms-filter: opacity(0.8);
    	-o-filter: opacity(0.8);
    	border: solid 2px;
    	border-radius: 5px;
    }
}

.navbar-options {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	transition: 0.25s;
	background-color: colors.$black;
    filter: opacity(0);
	padding-top: 100px;

    a {
        display: block;
    }
}

.navbar-btn {
	display: block;
	border: none;
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	margin: 2rem auto;
	width: 30vw;
	background-color: colors.$white;
	transition: 0.5s;
	color: colors.$black;

    &:hover {
        background-color: colors.$dark-blue;
        color: colors.$white;
    }
}

@media (max-width: 1000px) {
	.navbar-btn {
        width: 60vw;
	}
}

@media (max-width: 470px) {
	.navbar-btn {
        width: 90vw;
	}
}
